.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 21px;
}
.profile {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: grid;
  place-items: center;
  line-height: 0;
}
